#define WIFI_SSID     "SSID"
#define WIFI_PASSWORD "PASSWORD"

#define MQTT_HOST       "localhost"
#define MQTT_PORT       8883
#define MQTT_URI        "mqtts://manpro.natha.my.id:8883"
#define MQTT_KEEPALIVE  60
#define MQTT_USERNAME   "USERNAME"
#define MQTT_PASSWORD   "PASSWORD"

#define ROOT_CA "-----BEGIN CERTIFICATE-----\n"\
"\n"\
"-----END CERTIFICATE-----"